{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}Match{% endblock title %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>


    {% block nav_css %}
        <link href="/static/match/css/nav.css" rel="stylesheet">
    {% endblock nav_css %}
    {% block nav_js %}
        <script src="/static/match/js/nav.js"></script>
    {% endblock nav_js %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    {% block body %}
        {% block nav %}
            <div class = "nav colo">
                <p class = "logo_f">Matcher</p><!--LOGO-->
            </div>
            <form class = "nav_mid">
            </form>
            <div class="rightArea nav">
                <p class = "nav_right_f" id="login_bottom">login</p>
                <p class = "nav_right_f">sign up</p>
                <div class = "switch">
                    <p class = "nav_right_f fast_match_show">快速配對</p>
                    <i class="fa fa-bolt fa-lg fast_match nav_right_f" style="color: whitesmoke"></i>
                </div>
            </div>

            <div class="login">
                <div class="cancel">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        {% endblock nav %}

        {% block content %}

        {% endblock content %}
    {% endblock body %}

    {% block js %}
    {% endblock js %}

</body>
</html>