{% extends 'proto_demo/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{# 繼承的block不要把他呼叫出來才不會被覆蓋  #}
{{% block title %}
    Prototype
{% endblock %}

{% block content %}
    <style>
    #project_1{
        background-image:url('/static/proto_demo/image/designer/bennylin/rocket%20alarm_1.png');
    }
    #project_2{
        background-image: url('/static/proto_demo/image/designer/bennylin/apron_1.png');
    }
    #project_3{
        background-image: url('/static/proto_demo/image/designer/bennylin/eco%20broom_2.png');
    }
    #project_4{
        background-image: url('/static/proto_demo/image/designer/bennylin/earplugs_1.png');
    }
    #project_5{
    background-image: url('');
    }
    #project_6{
    background-image: url('');
    }
    </style>

<div class="jumbotron"></div>
<div class="container" id="headline">
            <h1>Prototype</h1>
            <h4>夢想的雛形，由此開始。</h4>
</div>
    {# bootstrap_messages #}
<!--    <h2 class="featured"><span class="glyphicon glyphicon-fire"></span>&nbsp最新消息</h2>

<div class="featured metro ">
    <div class="tile live" data-role="live-tile" data-easing="easeInExpo" style=" width: 60%;height: 600px;margin:10px 0 60px 0;float:left;">
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/rocket alarm_1.png" height="100%" width="100%">
        </div>
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/earplugs_1.png" height="100%" width="100%">
        </div>
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/earplugs_2.png" height="100%" width="100%">
        </div>
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/apron_1.png" height="100%" width="100%">
        </div>
        <div class="tile-status opacity" style="background-color:rgba(255,255,255,0.6);">
            <p class="label" style="color: #000000">測試</p>
        </div>
    </div>
    <div class="tile live" data-role="live-tile" data-easing="easeInSine"  style="width: 40%;height: 300px;margin:10px 0 0 0;float:left;" >
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/rocket alarm_2.png" height="100%" width="100%">
        </div>
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/rocket alarm_3.png" height="100%" width="100%">
        </div>

        <div class="tile-status opacity" style="background-color:rgba(255,255,255,0.6);">
            <p class="label" style="color: #000000">測試</p>
        </div>
    </div>
    <div class="tile live" data-role="live-tile" data-easing="easeInExpo"  style="width: 20%;height: 300px;margin:0 0 60px 0;float:left;" >
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/eco broom_2.png" height="100%" width="100%">
        </div>
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/eco broom_3.png" height="100%" width="100%">
        </div>

        <div class="tile-status opacity" style="background-color:rgba(255,255,255,0.6);">
            <p class="label" style="color: #000000">測試</p>
        </div>
    </div>
    <div class="tile live" data-role="live-tile" style="width: 20%;height: 300px;margin:0 0 60px 0;float:left;" >
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/rocket alarm_4.png" height="100%" width="100%">
        </div>
        <div class="tile-content">
            <img src="/static/proto_demo/image/Designer/BennyLin/eco broom_1.png" height="100%" width="100%">
        </div>

        <div class="tile-status opacity" style="background-color:rgba(255,255,255,0.6);">
            <p class="label" style="color: #000000">測試</p>
        </div>
    </div>

</div>
-->

<div class="projects container">
        <div id="project-head">
            <div class="col-md-12 col-xs-12">
                <h2><i class="glyphicon glyphicon-th"></i>&nbsp&nbspProjects</h2>
                    <form class="searchbar pull-right">
                         <input type="text" placeholder=" 尋找項目" style="width: 150px;">
                         <span>
                           <i class="glyphicon glyphicon-search"></i>
                         </span>
                    </form>
            </div>
        </div>
        <div class="row projectrow">
            <a href="#">
                <div class="col-md-4 col-sm-4 col-xs-4 frame">
                    <div class="innerframe"  id="project_1">
                        <div class="description">   <!--只繼承frame? 為什麼??-->
                        <h3>Rocket Alarm</h3>
                        <p>想讓鬧鐘停止嗎?<br>快去找找你的火箭吧!</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-4 col-sm-4 col-xs-4 frame">
                    <div class="innerframe"  id="project_2">
                        <div class="description">
                            <h3>Apron</h3>
                            <p>....</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-4 col-sm-4 col-xs-4 frame">
                    <div class="innerframe" id="project_3">
                        <div class="description">
                            <h3>Eco Broom</h3>
                            <p>....</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="row projectrow">
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="project_4">
                    <div class="description">
                        <h3>Earplugs</h3>
                        <p>....</p>
                        <p></p>
                    </div>
                </div>
             </div>
            </a>

            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="project_5">
                    <div class="description">
                        <h3>Project 5</h3>
                        <p>....</p>
                        <p></p>
                    </div>
                </div>
            </div>
            </a>

            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="project_6">
                    <div class="description">
                        <h3>Project 6</h3>
                        <p>....</p>
                        <p></p>
                    </div>
                </div>
            </div>
            </a>
        </div>
</div>

<div class="maker">
    <div class="container">
        <div id="maker-head">
            <div class="col-md-12 col-xs-12">
                <h2><i class="fa fa-users"></i>&nbsp&nbspMaker</h2>
                <form class="searchbar pull-right">
                    <input type="text" placeholder=" 尋找Maker" style="width: 150px">
                         <span>
                           <i class="glyphicon glyphicon-search"></i>
                         </span>
                </form>
            </div>
        </div>
        <div class="row makerrow">
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="maker_1">
                    <div class="description">
                        <h3>Dennis</h3>
                        <p>設計師<br>Taipei</p>
                    </div>
                </div>
            </div>
            </a>
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="maker_1">
                    <div class="description">
                        <h3>A110482</h3>
                        <p>Coder<br>Kaohsiung</p>
                    </div>
                </div>
            </div>
            </a>
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="maker_1">
                    <div class="description">
                        <h3>Kristine</h3>
                        <p>藝術家<br>Taipei</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="row makerrow">
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="maker_1">
                    <div class="description">
                        <h3>...</h3>
                        <p>...<br>Taipei</p>
                    </div>
                </div>
            </div>
            </a>
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="maker_1">
                    <div class="description">
                        <h3>...</h3>
                        <p>...<br>Taipei</p>
                    </div>
                </div>
            </div>
            </a>
            <a href="#">
            <div class="col-md-4 col-sm-4 col-xs-4 frame">
                <div class="innerframe" id="maker_1">
                    <div class="description">
                        <h3>...</h3>
                        <p>...<br>Taipei</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="col-md-4">
            <h3 class="footer-title">
                <a href="#">聯繫我們</a>
            </h3>
        </div>
        <div class="col-md-4">
            <h3 class="footer-title">
                <a href="#">合作夥伴</a>
            </h3>
        </div>
        <div class="col-md-4">
            <h3 class="footer-title">
                <a href="#">智慧財產權政策</a>
            </h3>
        </div>
    </div>
 </footer>
{% endblock %}


