{% extends 'proto_demo/bootstrap.html' %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <!--載入字體-->
    <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
    <link href="/static/proto_demo/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="/static/proto_demo/css/metro-bootstrap.css">
    <link rel="stylesheet" href="/static/proto_demo/css/metro-bootstrap-responsive.css">
    -->
    <!--載入CSS,JQ,JS-->
    <link rel="stylesheet" href="/static/proto_demo/css/main.css">
    <link  href="/static/proto_demo/css/nav.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/proto_demo/js/main.js"></script>
    <script src="/static/proto_demo/js/nav.js"></script>

    <!--
    <script src="/static/proto_demo/js/jquery.widget.min.js"></script>
    <script src="/static/proto_demo/js/jquery.easing.1.3.min.js"></script>
    <script src="/static/proto_demo/js/metro/metro.min.js"></script>
    -->
{% endblock %}

{% block bootstrap3_content %}
    {# bootstrap_messages #}
    {% block nav %}
        <div class = "nav colo">
    <p class = "logo_f">Prototype</p><!--LOGO-->

    </div>
    <form class = "nav_mid"></form>
    <div class="rightArea nav">
        <p class = "nav_right_f" id="login_bottom">login</p>
        <p class = "nav_right_f">sign up</p>
        <div class = "switch">
            <p class = "nav_right_f fast_match_show">快速配對</p>
            <i class="fa fa-bolt fa-lg fast_match nav_right_f" style="color: whitesmoke"></i>
        </div>
    </div>

    <div class="login">
        <div class="cancel">
            <i class="fa fa-bolt fa-lg fast_match nav_right_f" style="color: whitesmoke"></i>
        </div>
        <div class="login_in">

        </div>
    </div>

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block tmp %}
            <a href="{% url 'proto_demo:start_project' %}">Start My Prototype</a>
            <!--<a href="{# url 'proto_demo:maker_profile' pk=user.pk #}">My Profile</a>-->
            <!--<a href="{# url 'proto_demo:maker_profile' pk=maker.pk #}">My Profile</a>
            <a href="{# url 'proto_demo:project_status' pk=project.pk #}">My Project</a>-->
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'proto_demo:home' %}">home</a>
            <a href="{% url 'proto_demo:formset_default' %}">formset</a>
            <a href="{% url 'proto_demo:form_default' %}">form</a>
            <a href="{% url 'proto_demo:form_by_field' %}">form_by_field</a>
            <a href="{% url 'proto_demo:form_horizontal' %}">form_horizontal</a>
            <a href="{% url 'proto_demo:form_inline' %}">form_inline</a>
            <a href="{% url 'proto_demo:form_with_files' %}">form_with_files</a>
            <a href="{% url 'proto_demo:pagination' %}">pagination</a>
            <a href="{% url 'proto_demo:misc' %}">miscellaneous</a>
    {% endblock %}

{% endblock %}
